body {
    font-family: sans-serif;
    background: #F5EFFF;
    color: #7371FC;
}

button {
    padding: 8px 12px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F5EFFF;
    transition: 200ms background-color;
}

    button:hover {
        background: #7371FC;
    }

p {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#attribution {
    text-align: right;
}

    #attribution small:before {
        content: '-';
        padding-right: 8px;
    }
